<div class="loginContainer">
  <mat-card class="loginInner">
    <form (ngSubmit)="login()">
      <div class="tsp-8 full-width">
        <mat-form-field color="accent">
          <input
            id="userName"
            matInput
            #input
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
            required
            class="form-control"
          />
        </mat-form-field>
      </div>
      <div class="tsp-8 full-width">
        <mat-form-field color="accent">
          <input
            id="inputPassword"
            matInput
            #input
            type="password"
            placeholder="Password"
            name="username"
            [(ngModel)]="password"
            required
            class="form-control"
          />
        </mat-form-field>
      </div>
      <div class="tsp-8 flexColumn">
        <span>Demo - Email: user2@hotmail.com | Password: User.123</span>
      </div>
      <div class="checkbox mb-3 text-danger tsp-8" *ngIf="loginError">Login failed. Please try again.</div>
      <button mat-raised-button type="submit" color="primary" [disabled]="busy" class="tsp-16">Sign in</button>
    </form>
  </mat-card>
</div>
