.lsp-16 {
  margin-left: 8px * 2 !important;
}

.rsp-8 {
  margin-right: 8px !important;
}

.rsp-2 {
  margin-right: 2px;
}

.lsp-8 {
  margin-left: 8px !important;
}

.tsp-8 {
  margin-top: 8px !important;
}

.tsp-16 {
  margin-top: 16px !important;
}

.rsp-16 {
  margin-right: 8px * 2 !important;
}

.lp-10 {
  padding-left: 10px;
}

.full-width {
  width: 100%;
}
