<h1 id="tableLabel">Employees</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="employees"
>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.id }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.lastName }}</td>
    </tr>
  </tbody>
</table>
